/* 프론트엔드 */
/* src/pages/MainPage.css */

/* 전체 컨테이너 */
.main-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 헤더 */
.header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.user-info {
  display: flex;
  align-items: center;
  color: black;
}

.user-info a, .user-info span {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.logout-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: black;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e0e0e0;
}

/* 네비게이션 바 */
.navbar {
  background-color: #f1f1f1;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  cursor: pointer;
}

/* 최근 선택한 메뉴 */
.recent-menu {
  padding: 20px;
}

.menu-tab {
  display: flex;
  gap: 20px;
}

/* 대시보드 */
.dashboard {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.dashboard-item {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 풋터 */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}